<template>
  <b-card :style="{ width:  '100%',maxHeight: '300px' ,overflow:'scroll'}">
    <div>{{title}}</div>
    <!-- <div class="device">{{value}}</div> -->
    <div class="mt-3" :key="value.length">
      <b-table striped hover :items="value"></b-table>
    </div>
  </b-card>
</template>

<script>
import moment from "moment-timezone";
import axios from "axios";
export default {
  props: {
    title: {
      type: String,
      default: ""
    },
    homeid: {
      type: [Array, String],
      default: ""
    }
  },
  data() {
    return { value: [], configdata: [] };
  },
  mounted() {
    axios.get("/api/getconfig").then(response => {
      console.log(response.data);
      this.configdata = response.data.places;

      axios.get("/api/gettimestampdata?id=" + this.homeid).then(response => {
        console.log(response.data);
        var final = [];
        console.log(response.data.homeid);
        final = response.data.homeid.map(item => {
          var devicename =
            parseInt(item[4], 16) == "10"
              ? "ACK"
              : this.configdata[item[7]]
              ? this.configdata[item[7]].devicename
              : item[7];
          return {
            Id: item[0],
            Source_Idc: parseInt(item[2], 16),
            Destination_Id: parseInt(item[6], 16),
            Packet_Length: parseInt(item[4], 16),
            Device_type: devicename,
            Encrypted: item[7] == "98" ? true : false,
            Command: item[5]
          };
        });
        this.value = final;
      });
    });
  },
  computed: {}
};
</script>

<style scoped>
.device {
  font-size: 30px;
}
</style>>
