<template>
  <b-card :style="{ width:  '100%', height: '100%',background:color }" style="max-width:30vw">
    <div class="chart-wrap">
      <div id="chart" v-if="test">
        <apexchart type="donut" width="380" :options="chartOptions" :series="series"></apexchart>
      </div>
    </div>
  </b-card>
</template>
<script>
export default {
  data() {
    return {
      test: false,
      series: [2, 3],
      chartOptions: {
        labels: ["encrupted", "Sdf"],
        chart: {
          width: 380,
          type: "donut"
        },
        dataLabels: {
          enabled: false
        },
        responsive: [
          {
            breakpoint: 480,
            options: {
              chart: {
                width: 200
              },
              legend: {
                show: false
              }
            }
          }
        ],
        legend: {
          position: "right",
          offsetY: 0,
          height: 200
        }
      }
    };
  },
  props: {
    valone: {
      type: Number
    },
    valtwo: {
      type: Number
    },
    valonename: {
      type: String
    },
    valtwoname: {
      type: String
    },
    color: {
      type: String,
      default: "white"
    }
  },
  methods: {
    appendData: function() {
      var arr = this.series.slice();
      arr.push(Math.floor(Math.random() * (100 - 1 + 1)) + 1);
      this.series = arr;
    },

    removeData() {
      if (this.series.length === 1) return;
      var arr = this.series.slice();
      arr.pop();
      this.series = arr;
    },

    randomize() {
      this.series[0] = [15, 30];
    },

    reset: function() {
      this.series = [44, 55, 13, 33];
    }
  },
  mounted() {
    this.series = [this.valone, this.valtwo];
    console.log("enum ", this.valone);
    this.chartOptions.labels = [this.valonename, this.valtwoname];
    this.test = true;
    // this.randomize();
  },
  watch() {
    id(val);
    {
      var a = Math.ceil(Math.random() * 10) + 2;
      this.series = [a, 4];
    }
  }
};
</script>