<template>
  <b-card :style="{ width:  '100%' }">
    <div>{{title}}</div>
    <!-- <div class="device">{{value}}</div> -->
    <div class="mt-3">
      <apexchart type="line" height="350" :options="chartOptions" :series="series"></apexchart>
    </div>
  </b-card>
</template>

<script>
import moment from "moment";
import axios from "axios";
import Vue from "vue";
export default {
  props: {
    title: {
      type: String,
      default: ""
    },
    homeid: {
      type: String,
      default: ""
    }
  },

  data() {
    return {
      dates: [],
      series: [],
      chartOptions: {
        title: {
          text: this.title,
          align: "left"
        },
        chart: {
          height: 350,
          type: "line",
          dropShadow: {
            enabled: true,
            color: "#000",
            top: 18,
            left: 7,
            blur: 10,
            opacity: 0.2
          },
          toolbar: {
            show: false
          }
        },
        colors: ["#77B6EA", "#545454"],
        dataLabels: {
          enabled: true
        },
        stroke: {
          curve: "smooth"
        },
        grid: {
          borderColor: "#e7e7e7",
          row: {
            colors: ["#f3f3f3", "transparent"], // takes an array which will be repeated on columns
            opacity: 0.5
          }
        },
        markers: {
          size: 1
        },
        xaxis: {
          categories: [
            "00:00",
            "01:00",
            "02:00",
            "03:00",
            "04:00",
            "05:00",
            "06:00",
            "07:00",
            "08:00",
            "09:00",
            "10:00",
            "11:00",
            "12:00",
            "13:00",
            "14:00",
            "15:00",
            "16:00",
            "17:00",
            "18:00",
            "19:00",
            "20:00",
            "21:00",
            "22:00",
            "23:00",
            "23:00"
          ],
          title: {
            text: "Time of the day"
          }
        },
        yaxis: {
          title: {
            text: "Packets"
          }
        },
        legend: {
          position: "top",
          horizontalAlign: "right",
          floating: true,
          offsetY: -25,
          offsetX: -5
        }
      }
    };
  },
  methods: {
    loaddata() {
      axios.get("/api/gettimestampdata").then(response => {
        console.log(response.data);
        var sr = [
          0,
          0,
          0,
          0,
          0,
          0,
          0,
          0,
          0,
          0,
          0,
          0,
          0,
          0,
          0,
          0,
          0,
          0,
          0,
          0,
          0,
          0,
          0,
          0
        ];
        var series = [];
        this.dates = [];
        response.data.homeid.forEach(element => {
          var datadate = moment.unix(element[8]);
          if (!this.dates.includes(datadate.format("ll"))) {
            this.dates.push(datadate.format("ll"));
            series.push({
              name: datadate.format("ll"),
              data: JSON.parse(JSON.stringify(sr))
            });
          }
          series[this.dates.indexOf(datadate.format("ll"))].data[
            datadate.hour()
          ]++;
        });
        this.chartOptions.title.text = "packet count -" + response.data.length;
        this.series = series;
      });
    }
  },
  mounted() {
    console.log("test");
    this.loaddata();
    setInterval(() => {
      this.loaddata();
    }, 5000);
  },
  beforeDestroy() {
    console.log("tester");
  },
  computed: {}
};
</script>

<style scoped>
.device {
  font-size: 30px;
}
</style>>
