<template>
  <b-card :style="{ width:  '100%', height: '100%',background:color }">
    <div>{{title}}</div>
    <div class="device">{{value}}</div>
  </b-card>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: ""
    },
    value: {
      type: [String, Number],
      default: ""
    },
    color: {
      type: String,
      default: "white"
    }
  },
  data() {
    return {};
  },
  computed: {}
};
</script>

<style scoped>
.device {
  font-size: 30px;
}
</style>>
