<template>
  <b-card :style="{ width:  '100%', height: '100%',background:color,color:'white' }">
    <div>{{title}}</div>
    <!-- <div class="device">{{value}}</div> -->
    <div :id="'chart'">{{value}}</div>
  </b-card>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: ""
    },
    value: {
      type: [String, Number],
      default: ""
    },
    color: {
      type: String,
      default: "#008ffb"
    }
  },
  data() {
    return {
      series: [
        {
          data: [
            {
              x: "Packets",
              y: [0, this.value]
            }
          ]
        }
      ],
      chartOptions: {
        chart: {
          height: 350,
          type: "rangeBar"
        },
        plotOptions: {
          bar: {
            horizontal: false
          }
        }
      }
    };
  },
  computed: {},
  mounted() {
    setTimeout(() => {
      window.dispatchEvent(new Event("resize"));
    }, 3000);
  }
};
</script>

<style scoped>
.device {
  font-size: 30px;
}
#chart {
  font-size: 70px;
  margin-top: 15px;
}
</style>>
