<template>
  <div id="app">
    <div>
      <b-navbar toggleable="lg" type="dark" variant="dark">
        <b-navbar-brand href="#">Zwave Sniffing Dashboard</b-navbar-brand>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
          <!-- Right aligned nav items -->
          <b-navbar-nav class="ml-auto">
            <div class="mx-2">
              <b-button
                size="sm"
                class="my-2 my-sm-0"
                type="submit"
                @click="$modal.show('hello-world');loadprevsniffs()"
              >View Old data</b-button>
            </div>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
    </div>
    <div class="flex flex-col md:flex-row mt-4">
      <div class="flex-1 mt-2 mx-5" v-if="!snifferactive">
        <enun
          color="#f9f9f9"
          v-if="!snifferactive"
          :id.sync="visible"
          :valonename="'Un-Encrypted devices'"
          :valtwoname="'Encrypted devices'"
          :valone="data.IdentfiedDevices-data.IdentfiedEncrupted"
          :valtwo="data.IdentfiedEncrupted"
        />
      </div>
      <div class="flex-1 mt-2 mx-5">
        <enun
          color="rgb(218, 218, 218)"
          v-if="!snifferactive"
          :id.sync="visible"
          :valonename="'Un-Encrypted packets'"
          :valtwoname="'Encrypted Packets'"
          :valone="data.IdentfiedPackets-data.Encrypted"
          :valtwo="data.Encrypted"
        />
        <TopCard
          v-if="snifferactive"
          title="Total Number of Packets Sniffed by Sniffer"
          :value.sync="data.IdentfiedPackets"
        ></TopCard>
      </div>
      <div class="flex-1 mt-2 mx-5" v-if="snifferactive">
        <TopCard
          title="Total number of Encrypted Packets"
          v-if="snifferactive"
          :value="data.Encrypted"
        ></TopCard>
      </div>
      <div class="flex-1 mt-2 mx-5">
        <TopCard
          title="Number of Un-Encrypted packets"
          v-if="snifferactive"
          :value="data.IdentfiedPackets-data.Encrypted"
        ></TopCard>
        <TopCard2
          v-if="!snifferactive"
          title="Total Number of Packets Sniffed by Sniffer"
          :value.sync="data.IdentfiedPackets"
        ></TopCard2>
      </div>
    </div>

    <div class="flex flex-col md:flex-row mt-3">
      <div class="flex-1 mt-2 mx-5">
        <TopCard
          v-if="snifferactive"
          title="Total Number of Identified Devices"
          :value="data.IdentfiedDevices"
        ></TopCard>
      </div>
      <div class="flex-1 mt-2 mx-5">
        <TopCard
          v-if="snifferactive"
          title="Total Non-Encrypted Devices"
          :value.sync="data.IdentfiedDevices-data.IdentfiedEncrupted"
        ></TopCard>
      </div>
      <div class="flex-1 mt-2 mx-5">
        <TopCard
          title="Total Encrypted Devices"
          v-if="snifferactive"
          :value="data.IdentfiedEncrupted"
        ></TopCard>
      </div>
    </div>
    <div class="mx-5 mb-2" v-if="!snifferactive">
      <div class="flex">
        <div class="flex-1 mx-5">
          <NetworkActivity3 :title="`Encrypted Device Activity`" :type="'en'"></NetworkActivity3>
        </div>
        <div class="flex-1 mx-5">
          <NetworkActivity3
            v-if="!snifferactive"
            :title="`Un-encrypted Device Activity`"
            :type="'un'"
          ></NetworkActivity3>
        </div>
      </div>
    </div>
    <div class="mt-3 mx-5 mb-5">
      <div :style="{ width:  '100%', height: '100%' }">
        <div class="flex">
          <div class="flex-1 mx-5">
            <TopCard2
              title="Sniffer Status"
              :color="snifferactive?'#00e396':'#ff5454'"
              :value="Snifferstatus"
            ></TopCard2>
          </div>
          <div class="flex-1 mx-5">
            <TopCard
              title="Sniffer started"
              :value="timesinsceactice"
              v-if="snifferactive"
              :key="timesinsceactice"
            ></TopCard>
            <TopCard :title="data.location" :value="data.timestarted" v-if="!snifferactive"></TopCard>
          </div>
          <div class="flex-1 mx-5">
            <TopCard2
              title="Device Config Loaded"
              color="#f49c28"
              :value="Object.keys(this.configdata).length"
            ></TopCard2>
          </div>
        </div>
        <div class="flex align-center justify-center mt-4">
          <div class="mx-2 flex-row">
            <b-button
              size="lg"
              class="my-2 my-sm-0"
              type="submit"
              @click="startsniffer"
            >Start Sniffer</b-button>
          </div>
          <div class="mx-2 flex-row">
            <b-button size="lg" class="my-2 my-sm-0" type="submit" @click="stopsniffer">Stop Sniffer</b-button>
          </div>
        </div>
      </div>
    </div>

    <NetworkActivity2 v-if="snifferactive" :title="`Network Activity`"></NetworkActivity2>
    <div v-if="!snifferactive">
      <div class="mt-5">
        <b-card no-body class="mx-5" v-for="network in networks" :key="network.homeid">
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-button
              block
              href="#"
              @click="test[network.homeid] = !test[network.homeid]"
              variant="dark"
            >
              <div class="d-flex justify-content-between align-items-center">
                Network - {{network.homeid}}
                <b-iconstack font-scale="1">
                  <b-icon stacked icon="chevron-down" variant="light"></b-icon>
                </b-iconstack>
              </div>
            </b-button>
          </b-card-header>
          <b-collapse
            :id="`accordion-${network.homeid}`"
            accordion="my-accordion"
            v-model="test[network.homeid]"
            role="tabpanel"
          >
            <div v-if="test[network.homeid]">
              <div>
                <NetworkActivity
                  :title="`Network Activity in - ${network.homeid}`"
                  :homeid="network.rawhomeid"
                ></NetworkActivity>
              </div>
              <Devicestable
                :title="`Identified Devices in network - ${network.homeid}`"
                :homeid="network.rawhomeid"
              ></Devicestable>
            </div>
          </b-collapse>
        </b-card>
      </div>
    </div>
    <modal name="hello-world" height="55%" width="50%">
      <div>
        <div class="my-10">
          <h1>Click to load old data</h1>
        </div>
        <div style="height:300px;overflow:scroll;overflow-x: hidden;">
          <b-list-group>
            <b-list-group-item
              href="#"
              v-for="sniff in this.oldsniffs"
              @click="activate(sniff.id)"
              :key="sniff.id"
            >ID - {{sniff.id}} Time on - {{sniff.date.format('llll')}}, at {{sniff.location[0]}} , {{sniff.location[1]}}</b-list-group-item>
          </b-list-group>
        </div>
        <div class="mt-5 mb-20">
          <h1>
            <b>Drag and Drop the sqlite DB to add to database</b>
          </h1>
        </div>
      </div>
    </modal>
  </div>
</template>

<script>
import TopCard from "./components/TopCard";
import TopCard2 from "./components/TopCard2";
import Devicestable from "./components/Devices";
import NetworkActivity from "./components/NetworkActivity";
import NetworkActivity2 from "./components/NetworkActivity2";
import NetworkActivity3 from "./components/NetworkActivity3";
import moment from "moment-timezone";
import enun from "./components/Encruptednon";
import axios from "axios";
export default {
  name: "App",
  components: {
    TopCard,
    Devicestable,
    NetworkActivity,
    NetworkActivity2,
    NetworkActivity3,
    enun,
    TopCard2
  },
  mounted() {
    this.reloaddata();
    axios.get("/api/getconfig").then(response => {
      console.log(response.data);
      this.configdata = response.data.places;
    });
    setInterval(() => {
      this.reloaddata();
      this.visible = !this.visible;
    }, 2000);
  },
  data() {
    return {
      snifferactive: true,
      packetdata: [],
      packets: [],
      timestamp: null,
      oldsniffs: [],
      visible: false,
      configdata: {},
      test: [],
      data: {
        IdentfiedDevices: 0,
        IdentfiedEncrupted: 0,
        IdentfiedPackets: 0,
        Encrypted: 0,
        unEncrypted: 0,
        networks: [],
        location: "",
        timestarted: ""
      }
    };
  },
  methods: {
    activate(id) {
      axios.get("/api/activate?id=" + id).then(response => {
        // this.reloaddata();
        window.location.reload();
        console.log(response.data);
      });
    },
    loadprevsniffs() {
      axios.get("/api/previousniffs").then(response => {
        console.log(response.data);
        response.data.homeid.forEach(element => {
          this.oldsniffs.push({
            id: element[0],
            date: moment.unix(element[1]),
            location: element[2] == "home" ? "-" : JSON.parse(element[2])
          });
        });
        console.log(this.oldsniffs);
      });
    },
    reloaddata() {
      axios.get("/api/status").then(response => {
        if (response.data.status == true) {
          this.snifferactive = true;
          this.data.IdentfiedPackets = response.data.packetcount;
          this.data.Encrypted = response.data.encruptedcount;
          this.data.IdentfiedDevices = response.data.devicecount;
          this.data.IdentfiedEncrupted = response.data.encrupteddevice;
          console.log(typeof response.data.data);
          if (typeof response.data.data == "object") {
            this.packetdata = response.data.data;
            console.log("packetdata set");
          }
          this.timestamp = response.data.timestamp;
          console.log(this.networks);
        } else {
          this.data.IdentfiedPackets = response.data.packetcount;
          this.data.Encrypted = response.data.encruptedcount;
          this.data.IdentfiedDevices = response.data.devicecount;
          this.data.IdentfiedEncrupted = response.data.encrupteddevice;
          console.log(typeof response.data.data);
          if (typeof response.data.data == "object") {
            this.packets = response.data.data;
            console.log("packetdata set");
          }
          this.timestamp = response.data.timestamp;
          console.log(this.packets);
          this.snifferactive = false;
        }
        this.data.location =
          "Location - (" +
          JSON.parse(response.data.location)[0] +
          " , " +
          JSON.parse(response.data.location)[1] +
          ")";
        this.data.timestarted =
          "Started at - " +
          moment
            .unix(parseFloat(response.data.timestamp))
            .format("MMMM Do YYYY h:mm:ss a");
      });
    },
    startsniffer() {
      navigator.geolocation.getCurrentPosition(position => {
        console.log(position.coords);
        axios
          .post("/api/start", {
            location: [position.coords.latitude, position.coords.longitude]
          })
          .then(response => {
            console.log(response);
          });
      });
    },
    stopsniffer() {
      axios.post("/api/stop").then(response => {
        console.log(response);
      });
    }
  },
  computed: {
    currupted() {
      // if (this.networks.length > 0) {
      //   return this.networks.reduce((x, y) => {
      //     console.log(x, y);

      //       return x + y.devices.length;
      //     } else {
      //       return x;
      //     }
      //   }, 0);
      // } else {
      //   return 0;
      // }
      return 0;
    },
    networks() {
      var returnable = [];
      // Get an array of the keys:
      let keys = Object.keys(this.packets);

      // Then sort by using the keys to lookup the values in the original object:
      var value = keys
        .sort((a, b) => {
          return this.packets[a] - this.packets[b];
        })
        .reverse();

      value.forEach(key => {
        this.test.push({ key: false });
        returnable.push({
          rawhomeid: key,
          homeid:
            "Home ID - " + key + " Packets Sniffed - " + this.packets[key],
          active: false
        });
      });
      return returnable;
    },
    networkss() {
      return this.homeids.map(data => {
        var devices = [
          ...new Set(
            this.packetdata.filter(dataver => {
              if (dataver[1] == data) {
                return true;
              } else {
                return false;
              }
            })
          )
        ];
        var finaldevice = devices.map(item => {
          var devicename =
            item[4] == "10"
              ? "Ack"
              : this.configdata[item[5].substring(0, 2)]
              ? this.configdata[item[5].substring(0, 2)].devicename
              : item[5].substring(0, 2);
          return {
            Id: item[0],
            Source_Idc: parseInt(item[2]),
            Destination_Id: parseInt(item[6]),
            Packet_Length: parseInt(item[4]),
            Device_type: devicename,
            Encrypted: false,
            Manufacturer: "to-do"
          };
        });
        return {
          homeid: data + " Packet Count = " + devices.length,
          devices: finaldevice
        };
      });
    },
    timesinsceactice() {
      if (this.timestamp == null || !this.snifferactive) return "Not Available";
      else {
        console.log(parseFloat(this.timestamp));
        return moment
          .unix(parseFloat(this.timestamp))
          .utc()
          .fromNow();
      }
    },
    homeids() {
      return [...new Set(this.packetdata.map(item => item[1]))];
    },
    Snifferstatus() {
      if (this.snifferactive) {
        return "Active";
      } else {
        return "InActive";
      }
    }
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
} /* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
body {
  -ms-overflow-style: none;
}
</style>
